@use "@/styles/variables" as var;

.button {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    display: inline;
    fill: var(--white-color);
    height: 20px;
    margin-left: 3px;
  }
}

.active {
  svg {
    transform: rotate(180deg);
  }
}

.dropDown {
  position: absolute;
  right: 0;
  top: 35px;
  transition: 0.3s;

  @media (min-width: var.$tablet) {
    top: 35px;
  }

  @media (min-width: var.$desktop) {
    top: 40px;
  }

  li {
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}
