@use "@/styles/variables.module" as var;

.container {
  background-image: url("./../../../../public/images/initial/landing-mobile.jpg");

  @media (min-width: var.$tablet) {
    background-image: url("./../../../../public/images/initial/landing-tablet.jpg");
  }

  @media (min-width: var.$desktop) {
    background-image: url("./../../../../public/images/initial/landing-desktop.jpg");
  }
}

.content {
  .subText {
    max-width: 430px;
  }

  @media (min-width: var.$tablet) {
    .subText {
      width: 550px;
      max-width: 100%;
    }
  }

  @media (min-width: var.$bigger-tablet) {
    img {
      margin-left: 100px;
    }
  }

  @media (min-width: var.$desktop) {
    img {
      margin-left: 140px;
    }
  }

  @media (min-width: var.$bigger-desktop) {
    img {
      margin-left: 270px;
    }
  }
}
