@use "@/styles/variables.module" as var;

.container {
  background-image: url("./../../../../public/images/initial/questions-mobile.jpg");

  @media (min-width: var.$tablet) {
    background-image: url("./../../../../public/images/initial/questions-tablet.jpg");
  }

  @media (min-width: var.$desktop) {
    background-image: url("./../../../../public/images/initial/questions-desktop.jpg");
  }
}

.content {
  @media (min-width: var.$tablet) {
  }

  @media (min-width: var.$bigger-tablet) {
  }

  @media (min-width: var.$desktop) {
  }
}
