@use "@/styles/variables.module" as var;

.container {
  background-image: url("./../../../../public/images/initial/info-mobile.jpg");

  @media (min-width: var.$tablet) {
    background-image: url("./../../../../public/images/initial/info-tablet.jpg");
  }

  @media (min-width: var.$desktop) {
    background-image: url("./../../../../public/images/initial/info-desktop.jpg");
  }

  &::before {
    opacity: 0.4;
  }
}

.content {
  gap: 20px;
  align-items: center;
  flex-direction: column;

  .subText {
    max-width: 430px;
  }

  @media (min-width: 470px) {
    gap: 40px;
    align-items: flex-start;
  }

  @media (min-width: var.$tablet) {
    .subText {
      max-width: 550px;
    }
  }

  @media (min-width: var.$bigger-tablet) {
    flex-direction: row;
    gap: 70px;
  }

  @media (min-width: var.$desktop) {
    gap: 10px;
  }
}

.cards {
  flex-direction: column;
  justify-content: center;
  gap: var(--layout);
  align-items: center;

  @media (min-width: 470px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: var.$bigger-tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: var.$desktop) {
    width: calc(var(--layout) + (265px * 2));
    margin-right: 90px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.texts {
  align-items: center;

  @media (min-width: 470px) {
    align-items: flex-start;
  }

  @media (min-width: var.$tablet) {
    margin-right: 50px;
  }
}
