@use "reset";
@use "colors";
@use "variables.module" as var;

:root {
  --layout: 10px;
}

@media (min-width: var.$tablet) {
  :root {
    --layout: 15px;
  }
}

body {
  color: var(--white-color);
}

a,
a:visited {
  color: var(--white-color);
  text-decoration: none;
}

.layout {
  margin: 0 auto;
  padding: 0 var(--layout) var(--layout);

  @media (min-width: var.$bigger-mobile) {
    width: 480px;
  }

  @media (min-width: var.$tablet) {
    width: 720px;
  }

  @media (min-width: var.$bigger-tablet) {
    width: 950px;
  }

  @media (min-width: var.$desktop) {
    width: 1170px;
  }

  @media (min-width: var.$bigger-desktop) {
    width: 1320px;
  }
}

.pb {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: var(--layout);
}

.pr {
  padding-right: 5px;
}

.pr-2 {
  padding-right: var(--layout);
}

.pr-3 {
  padding-right: calc(var(--layout) * 2);
}

.pr-4 {
  padding-right: calc(var(--layout) * 3);
}

.pr-5 {
  padding-right: calc(var(--layout) * 4);
}

.pl {
  padding-left: 5px;
}

.pl-2 {
  padding-left: var(--layout);
}

.pl-3 {
  padding-left: calc(var(--layout) * 2);
}

.pl-4 {
  padding-left: calc(var(--layout) * 3);
}

.pl-5 {
  padding-left: calc(var(--layout) * 4);
}
