@use "@/styles/variables" as var;

.landing {
  flex-direction: column;
  gap: var(--layout);

  .text {
    width: 300px;
  }

  img {
    object-fit: contain;
    width: 80%;
    height: auto;
  }

  @media (min-width: var.$tablet) {
    .text {
      width: 400px;
    }

    img {
      width: 50%;
    }
  }

  @media (min-width: var.$bigger-tablet) {
    flex-direction: row;

    .text {
      width: auto;
    }
  }
}
