@use "@/styles/variables" as var;

.layout {
  margin: 0 auto;
  padding: var(--layout);
  width: calc(100% - (var(--layout) * 2));
  padding: 0 var(--layout) var(--layout);

  @media (min-width: var.$bigger-mobile) {
    width: 510px;
  }

  @media (min-width: var.$tablet) {
    width: 720px;
  }

  @media (min-width: var.$bigger-tablet) {
    width: 970px;
  }

  @media (min-width: var.$desktop) {
    width: 1170px;
  }

  @media (min-width: var.$bigger-desktop) {
    width: 1320px;
  }
}
