@use "@/styles/variables.module" as var;

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.subHeader,
.body,
.bodySm,
.bodyTiny {
  text-shadow: var(--ulca-blue-color) 0px 0px 10px;
}

.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 700;
}

.h0 {
  font-size: 2rem;
  line-height: 1.15;

  @media (min-width: var.$tablet) {
    font-size: 2.1rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 2.3rem;
  }
}

.h1 {
  font-size: 1.6rem;
  line-height: 1.25;

  @media (min-width: var.$tablet) {
    font-size: 1.8rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 2rem;
  }
}

.h2 {
  font-size: 1.125rem;
  line-height: 1.27;

  @media (min-width: var.$tablet) {
    font-size: 1.255rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 1.375rem;
  }
}

.h3 {
  font-size: 1.05rem;
  line-height: 1.2;

  @media (min-width: var.$tablet) {
    font-size: 1.15rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 1.25rem;
  }
}

.h4,
.subHeader,
.body {
  font-size: 0.85rem;
  line-height: 1.25;

  @media (min-width: var.$tablet) {
    font-size: 0.9rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 1rem;
  }
}

.subHeader {
  text-transform: uppercase;
}

.bodySm {
  font-size: 0.775rem;
  line-height: 1.42;

  @media (min-width: var.$tablet) {
    font-size: 0.825rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 0.875rem;
  }
}

.bodyTiny {
  font-size: 0.65rem;
  line-height: 1.67;

  @media (min-width: var.$tablet) {
    font-size: 0.7rem;
  }

  @media (min-width: var.$desktop) {
    font-size: 0.75rem;
  }
}
