@use "@/styles/variables.module" as var;

.container {
  background-image: url("./../../../../public/images/initial/testimonials.jpg");
}

.content {
  @media (min-width: var.$tablet) {
  }

  @media (min-width: var.$bigger-tablet) {
  }

  @media (min-width: var.$desktop) {
  }
}

.subText {
  max-width: 650px;
}

.card {
  position: relative;
  width: 250px;
  padding: var(--layout);
  background-color: rgba($color: #000, $alpha: 0.6);
  border-radius: 10px;

  svg {
    position: absolute;
    top: var(--layout);
    left: var(--layout);
    z-index: -1;
    height: 50px;
    width: 66px;
    opacity: 0.4;
    transform: rotate(180deg);
  }

  &Text {
    line-height: 1.5;
  }

  &Link .card {
    border: 1px solid var(--dusk-storm-color);
  }

  img {
    border-radius: 50%;
    margin-left: 20px;
  }

  @media (min-width: 550px) {
    width: 200px;
  }

  @media (min-width: var.$bigger-tablet) {
    width: 320px;
  }
}

.line {
  border-bottom: 2px solid var(--ulca-blue-color);
  opacity: 0.5;
}
